<div class="container">
    <div class="toolbar-wrapper">
        <mat-toolbar>
            <span class="toolbar-text">Inicia sesión</span>
        </mat-toolbar>
    </div>
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="login()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="espacio">
                        <mat-label>Ingrese un nombre</mat-label>
                        <input matInput formControlName="userLogin">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img class="logo" src="./assets/crear.jpeg">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="espacio">
                        <mat-label>Ingrese una contraseña</mat-label>
                        <input matInput formControlName="password">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="espacio">
                        <mat-label>Ingrese el nombre de conexión</mat-label>
                        <input matInput formControlName="connectionName">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>